.form-item--discount-code-status{
  background-position: 0.625em 0.625em;
  background-repeat: no-repeat;
  background-size: 2.5em;
  border: 1px solid #bcdeee;
  color: #424242;
  margin-bottom: 0.75rem;
  overflow: hidden;
  padding: 1em;
  position: relative;
}

.form-item--discount-code-status--success{
  background-color: rgba(132,189,0,.2);
  border-color: rgba(132,189,0,.5);
}

.form-item--discount-code-status--fail{
  background-color: rgba(255, 92, 78, 0.2);
  border-color: rgba(255, 92, 78, 0.5);
}
