{#
/**
 * @file webform_discount.html.twig
 * Default theme implementation to present webform discount data.
 *
 * This template is used when viewing webform discount pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_webform_discount()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('webform_discount') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
